@import "assets/css/scaffolding.less";
@import "assets/css/mixins.less";
@import "assets/css/slider.less";
@import "assets/css/featherlight.min.css";

/////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////// TYPOGRAPHY
/////////////////////////////////////////////////////////////////////////////////////////////
body, html{
    padding: 0px;
    margin: 0px;
    background-color: @white;
    background-image: url("images/dotted-bg.png");
    background-repeat: repeat;
    font-size: 18px;
    font-family: @regular;
    color: @blue;
    .responsiveMax(@mobile, {
        font-size: 12px;
    });
    img{
        max-width: 100%;
    }
}

//@font-face {
//    font-family: 'IBM Plex Bold';
//    src: url('assets/fonts/ibmplexmono-bold-webfont.woff2') format('woff2'),
//         url('assets/fonts/ibmplexmono-bold-webfont.woff') format('woff');
//    font-weight: normal;
//    font-style: normal;
//}
//@bold: 'IBM Plex Bold';
//
//@font-face {
//    font-family: 'IBM Plex';
//    src: url('assets/fonts/ibmplexmono-regular-webfont.woff2') format('woff2'),
//         url('assets/fonts/ibmplexmono-regular-webfont.woff') format('woff');
//    font-weight: normal;
//    font-style: normal;
//}
//@regular: 'IBM Plex';

/////////////////////////////////////////////////////////////////////////////////////////////////// IBM Sans Bold
@font-face {
    font-family: 'IBM Plex Sans Bold';
    src: url('assets/fonts/ibmplexsans-bold-webfont.woff2') format('woff2'),
         url('assets/fonts/ibmplexsans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@bold: 'IBM Plex Sans Bold';

/////////////////////////////////////////////////////////////////////////////////////////////////// IBM Sans Italic
@font-face {
    font-family: 'IBM Plex Sans Italic';
    src: url('assets/fonts/ibmplexsans-italic-webfont.woff2') format('woff2'),
         url('assets/fonts/ibmplexsans-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@italic: 'IBM Plex Sans Italic';

/////////////////////////////////////////////////////////////////////////////////////////////////// IBM Sans
@font-face {
    font-family: 'IBM Plex Sans Light';
//    src: url('assets/fonts/ibmplexsans-regular-webfont.woff2') format('woff2'),
//         url('assets/fonts/ibmplexsans-regular-webfont.woff') format('woff');
    src: url('assets/fonts/ibmplexsans-light-webfont.woff2') format('woff2'),
         url('assets/fonts/ibmplexsans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@regular: 'IBM Plex Sans Light';

.highlight{
    position: relative;
    width: 100%;
    padding-bottom: 0px !important;
    line-height: 100%;
    margin: 0px 0 0.1em 0;
    .responsiveMax(@mobile, {
        text-align: left;
        padding-left: @gutter;
        box-sizing: border-box;
        margin: 1em 0 0.5em 0;
    });
    &:before{
        content: '';
        position: absolute;
        bottom: 0.057em;
        left: 0px;
        width: 0.17em;
        background-color: @blue;
        height: 0.55em;
    }
    &:after{
        content: '';
        position: absolute;
        bottom: 0.055em;
        right: 0px;
        background-image: url(images/cropmarks.gif);
        height: 1em;
        width: 1em;
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: contain;
        z-index: 1;
        .responsiveMax(@mobile, {
            display: none;
        });
    }
    span{
        display: block;
        padding: 0px 0px 0px @gutter*2;
        z-index: 2;
        position: relative;
        .responsiveMax(@mobile, {
            padding: 0px;
        });
    }
}
h1, h2, h3, h5, h6{
    font-family: @regular;
    color: @red;
    line-height: 100%;
}
h1  ,
.h1 {
    font-size: 11em;
}
h2  ,
.h2 {
    font-size: 6.8em;
}
h3  ,
.h3 {
    font-size: 4.2em;
}
h4  ,
.h4 {
    font-size: 1.6em;
    font-family: @bold;
    color: @blue;
}
p.intro{
    font-size: 1.6em;
}
p{
    font-size: 1.3em;
    line-height: 2em;
    margin-bottom: 1em !important;
    widows: 3;
    orphans: 3;
}
a{
    color: @blue;
    text-decoration: underline;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip: ink;
    transition: 0.5s all;
    font-family: @bold;
    &:hover{
        color: @red;
    }
}
b{
    font-family: @bold;
}
blockquote{
    font-size: 2.6em;
    font-family: @italic;
    border-left: @gutter solid @red;
    padding-left: @gutter*2;
    span{
        font-size: 0.5em;
        display: block;
        opacity: 0.55;
        margin-top: 2em;
    }
}

.skills{
    opacity: 0.5;
}

.btn{
    background-color: @red;
    padding: 1em;
    color: @white;
    display: inline-block;
    transition: 0.5s all;
    &:focus, &:hover{
        background-color: @red;
        color: @white;
        border-radius: @gutter*2;
        span{
            .pulse;
        }
    }
    &:active{
        transform: scale(0.95);
        background-color: darken(@red, 20%);
    }
}

/////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////// COLOR
/////////////////////////////////////////////////////////////////////////////////////////////
@red: #F85452;
@blue: #292F83;
@white: darken(#FFFFFF, 2%);
@offwhite: #FFFFFF;
@black: #111111;
@gutter: 22px;

.selection{
    background-color: lighten(@blue, 50%);
    color: @white;
}
::selection {
    .selection;
}
::-moz-selection {
    .selection;
}

/////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////// MODULES
/////////////////////////////////////////////////////////////////////////////////////////////
.clearfix{
    &:after{
        content: "";
        clear: both;
        display: table;
    }
}


@headerHeight: 98px;
@headerHeightMobile: 94px;

//@container: 940px;
@container: @nav;
@mobile: 768px;
@nav: 1399px;

// Mixin 
.responsive(@maxWidth; @rules) {
    @media only screen and (max-width: @maxWidth) {
        @rules();
    }
}
.flex-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: start;
    align-items: stretch;
    
    .responsiveMax(@mobile,{
        display: block;
    });
}

.flex-item_one-third {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    max-width: 33.333333%;
    position: relative;
    .responsiveMax(@mobile,{
        max-width: 100%;
        -webkit-flex: auto;
        -ms-flex: auto;
        flex: auto;
    });
}

.flex-item_two-third {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 3 1 auto;
    -ms-flex: 3 1 auto;
    flex: 3 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    max-width: 66%;
    .responsiveMax(@mobile,{
        max-width: 100%;
        -webkit-flex: auto;
        -ms-flex: auto;
        flex: auto;
    });
}
.blue-container{
    background-color: @blue;
    background-image: url(images/white-dotted-bg.png);
    background-repeat: repeat;
    color: @white;
}
.red-container{
    background-color: @red;
    background-image: url(images/white-dotted-bg.png);
    background-repeat: repeat;
}



/////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////// STRUCTURE
/////////////////////////////////////////////////////////////////////////////////////////////
//.wrapper-padding{
//    padding-top: @headerHeight;
//    .responsiveMax(@mobile, {
//        padding-top: 0px;
//        padding-bottom: @headerHeightMobile;
//    });
//}
#wrapper{
    padding-bottom: @headerHeight;
    .responsiveMax(@mobile, {
        padding-bottom: @headerHeightMobile;
    });
}
.container{
    width: @container;
    padding: @gutter;
    margin: 0 auto;
    box-sizing: border-box;
    .responsiveMax(@container,{
        width: 100%;
        padding: 0px;
    });
}
.hero-container{
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
    .hero1{
        position: absolute !important;
        top: 0;
        left: 0;
        max-width: 451px !important;
//        max-height: 293px !important;
        width: 19.25%;
        .responsiveMax(@mobile, {
            display: none !important;
        });
    }
    .hero2{
        width: 57.92%;
        .responsiveMax(@mobile, {
            width: 90%;
            margin: 0 auto;
        });
    }
    .hero3{
        width: 28.61%;
        position: absolute !important;
        top: 0px;
        right: 0px;
        max-width: 537px;
        .responsiveMax(@mobile, {
            display: block !important;
            top: 20px;
            width: 50%;
        });
    }
}
#hero{
    max-height: 293px !important;
    margin: 0px;
    padding: 0px;
    img{
        width: 100%;
    }
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0px solid transparent;
    }
}
.one-half{
    .responsiveMax(@mobile, {
        width: 100%;
    });
}


/////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////// FOOTER
/////////////////////////////////////////////////////////////////////////////////////////////
footer{
    font-size: 0.6em;
    text-align: center;
    padding: @gutter*1.6;
    opacity: 0.5;
}


/////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////// HEADER
/////////////////////////////////////////////////////////////////////////////////////////////
header{
    position: fixed;
    padding: @gutter 0px 15px;
    z-index: 999999999999999999;
    transition: 2s all;
    background-color: @white;
    width: 100%;
    border-top: 2px solid @red;
    .responsiveMax(@container, {
        padding: @gutter @gutter @gutter/2 @gutter;
        box-sizing: border-box;
    });
    .responsiveMin(@mobile, {
        bottom: -31px !important;
    });
    .responsiveMax(@mobile, {
        position: fixed;
        width: 100%;
        bottom: 0px;
    });
    nav{
        width: @nav;
        margin: 0 auto;
        display: table;
        .responsiveMax(@container, {
            width: 100%;
        });
        .logo{
            height: 61px;
            width: 95px;
            display: table-cell;
            vertical-align: middle;
        }
        #logo{
//            position: fixed;
//            top: 1em;
//            left: 1em;
        }
        ul{
            text-align: right;
            display: table-cell;
            vertical-align: middle;
            li{
                display: inline-block;
                a{
                    text-decoration: none;
                    font-family: @bold;
                    color: @red;
                    transition: 0.5s color;
                    padding: 0.75em ;
                    font-size: 1em;
                    &:hover{
                        color: @blue;
                        border-color: @blue;
                        border-bottom: 0.5em;
                    }
                    .responsiveMax(1080px, {
                        font-size: 0.75em;
                    });
                    .responsiveMax(920px, {
                        font-size: 0.65em;
                    });
                    .responsiveMax(@mobile, {
                        padding: @gutter 0px 0px @gutter;
                        font-size: 1.3em;
                    });
                }
                .responsive(850px, {
                    &:nth-child(1),
                    &:nth-child(2),
                    &:nth-child(3){
                        display: none;
                    }
                });
            }
            &:after{
                content: "";
                clear: both;
                display: table;
            }
        }
    }
}
.sticky{
    position: fixed;
    bottom: 0px;
    width: 100%;
    transition: 2s all;
}

/////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////// HOME
/////////////////////////////////////////////////////////////////////////////////////////////



////////////////////////////////////////////////////////////////////////////////////// STRUCTURE
body.index{
    #form-function{
        text-align:center;
        position: relative;
        overflow: hidden;
        img{
            display: block;
            margin: 0 auto;
            max-width: 1089px;
            z-index: 2;
            position: relative;
            .riseFadeUp;
            .responsiveMax(@mobile, {
                margin-top: -@headerHeightMobile*2;
            });
        }
        .responsiveMax(@mobile, {
            display: table-cell;
            vertical-align:middle; 
            height: 100vh;
        });
        .see-work{
            font-size: 1.5em;
            font-family: @bold;
            padding-top: 2em;
            position: relative;
            width: 100%;
            .responsiveMin(@mobile, {
                display: none;
            });
            .slideRight;
            .seeworkcontainer{
                width:100%;
            }
            a{
                position: absolute;
                text-decoration: none;
                padding-top: 31px;
                padding-left: 70px;
                left: -@gutter;
                width: 100%;
                text-align: left;
                box-sizing: border-box;
            }
            #see{
                color: @white;
                border-bottom: 4px solid @white;
                z-index: 25;
                position: relative;
            }
            #work{
                color: @red;
                border-bottom: 4px solid @red;
                z-index: 3;
                position: relative;
                background-color: @offwhite;
                padding-right: 10px;
                box-sizing: border-box;
            }
            .pointers{
                width: 90%;
                position: absolute;
                top: 30px;
                right: 0px;
                text-align: right;
                box-sizing: border-box;
                z-index: 2;
                .responsiveMin(426px, {
                    position: relative;
                    right: auto;
                    top: -3px;
                });
            }
            .pointer{
                border: solid @red;
                border-width: 0 3px 3px 0;
                display: inline-block;
                padding: 3px;
                text-align: right;
                transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
                &.one{ animation-delay: 0.25s !important; }
                &.two{ animation-delay: 0.5s !important; }
                &.three{ animation-delay: 0.75s !important; }
                &.four{ animation-delay: 1s !important; }
                &.five{ animation-delay: 1.25s !important; }
                &.six{ animation-delay: 1.5s !important; }
                &.seven{ animation-delay: 1.75s !important; }
                &.eight{ animation-delay: 2s !important; }
                &.nine{ animation-delay: 2.25s !important; }
                &.ten{ animation-delay: 2.5s !important; }
                .fadeArrow;
            }
            .circle{
                position: absolute;
                top: 0px;
                left: 0px;
                background-color: @red;
                height: 100px;
                width: 100px;
                z-index: 4;
                border-radius: 50%;
            }
        }
        .white-box{
            background-color: @white;
            min-width: 500px;
            min-height: 500px;
            position: absolute;
            top: -400px;
            z-index: 0;
            transform: rotate(45deg);
            left: -250px;
            .fadeIn;
            .responsiveMin(@mobile, {
                display: none;
            });
        }
        .blue-box{
            background-color: @blue;
            min-width: 800px;
            min-height: 800px;
            position: absolute;
            bottom: -500px;
            z-index: 0;
            transform: rotate(45deg);
            right: -425px;
            .fadeIn;
            .responsiveMin(@mobile, {
                display: none;
            });
        }
    }
    ul{
        list-style: none;
        padding: 0px;
        margin: 0px;
    }
    section{
        margin: 230px 0px;
        padding-top: @gutter;
        &#logos{
            img{
                border: 1px solid lighten(@blue, 60%);
            }
        }
        .highlight{
            .responsiveMax(1025px, {
                &.h1{
                    font-size: 7em;
                }
            });
            .responsiveMax(@mobile, {
                font-size: 4em !important;
            });
        }
        .responsiveMax(@mobile, {
//            padding: @gutter;
            box-sizing: border-box;
            margin: 0px;
        });
        ul{
            width: 100%;
            
            .responsiveMax(@mobile, {
                padding: 0 22px !important;
                box-sizing: border-box;
            });
            li{
                margin-bottom: 5px;
                box-sizing: border-box;
                border: @gutter/2 solid transparent;
                .responsiveMax(@mobile, {
                    border-left: 0px solid transparent;
                    border-right: 0px solid transparent;
                });
                &.header{
                    h2{
                        word-break: break-all;
                        color: @red;
                        box-sizing: border-box;
                        padding: 0.33em 0.5em;
                        margin: 0px;
                        text-align: center;
                        .responsiveMax(@mobile, {
                            padding: 0.33em 0px;
                        });
                    }
                }
                img{
                    transition: 0.5s all;
                    background-color: lighten(@blue, 50%);
                    display: block;
                    min-height: 2em;
                    width: 100%;
                }
                &.full{
                    width: 100%;
                }
                a{
                    &:before{
                        transition: 0.75s all;
                        content: '';
                        opacity: 0;
                    }
                    &:hover{
                        &:before{
                            position: absolute;
                            opacity: 0.6;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            left: 0;
                            background-image: linear-gradient(to bottom right,@red,@blue);
                        }
                    }
                }
            }
            &:after{
                content: "";
                clear: both;
                display: table;
            }
        }
    }
}
////////////////////////////////////////////////////////////////////////////////////// CASE STUDY
.case-study-container{
    padding: @gutter/2 !important;
    box-sizing: border-box;
    li{
        border: 0px solid transparent !important;
    }
}
.case-study{
    box-sizing: border-box;
    background-color: lighten(@blue, 50%);
    background-size: 100%;
    background-position: 50% 50%;
    position: relative;
    transition: 1s all ease;
    width: 100%;
        position: relative;
    &:hover{
        background-position: 50% 60%;
        .btn{
            border-radius: @gutter*2;
        }
        div{
            transform: scale(1.02);
        }
    }
    &:active{
        background-size: 100%;
        
        div{
            transform: scale(0.99);
        }
    }
    .responsiveMax(@container, {
        background-size: cover !important;
        &:hover{
            background-size: cover !important;
        }
    });
    a{
        color: @white;
        text-decoration: none;
        padding: 4em;
        display: block;
        .responsiveMax(@mobile, {
            padding: 4em 2em;
            display: block;
            text-align: center;
        });
        div{
            max-width: 650px;
            width: 100%;
            transition: 0.5s all;
            h3{
                color: @white;
                line-height: 100%;
                margin: 0px;
            }
        }
    }
    h2{
        font-size: 2em;
        width: 100%;
        position: relative;
        margin-top: 0px;
    }
    .btn{
        border: 3px solid @white;
        background-color: transparent;
        text-align: center;
        &:hover{
            background-color: @red;
            transform: scale(1);
        }
    }
    .small{
        font-size: 0.5em;
    }
    &.supreme-web{
        background-image: url(images/supreme-hero.jpg);
        color: @white;
        .clearfix;
    }
}
mark{
    background-color: transparent;
    color: @white;
    position: absolute;
    top: @gutter;
    right: @gutter;
    border-bottom: 5px solid @white;
    span{
        font-size: 1em;
    }
}





////////////////////////////////////////////////////////////////////////////////////// ABOUT
#about{
    width: 100%;
    margin: 0 auto;
    padding: 9em 0em;
    .blue-container;
    p{
        max-width: @container/1.6;
        color: @white;
        margin: 0 auto;
        .responsiveMax(@mobile, {
            width: 90%;
            margin: 0 auto;
        });
    }
    h2{
        font-family: @regular;
        color: rgba(41, 47, 131, 0.75);
        font-weight: 100;
        &:after{
            display: none;
        }
    }
    .responsiveMax(@mobile, {
        margin-top: 6em;
    });
}
////////////////////////////////////////////////////////////////////////////////////// CONTACT
#contact{
    width: 100%;
    margin-bottom: 0em;
    padding: 3em 0em;
    box-sizing: border-box;
    margin-top: @gutter;
    .red-container;
    form{
        max-width: @container/1.6/1.6;
        margin-left: auto;
        margin-right: auto;
        .responsiveMax(@mobile, {
            width: 90%;
            margin: 0 auto;
        });
    }
    .responsiveMax(@container, {
        width: 100%;
    });
    h2{
        font-size: 2.6em;
        color: @white;
    }
    input, textarea, button{
        width: 100%;
        display: block;
        min-height: 55px;
        padding: @gutter;
        box-sizing: border-box;
        margin-bottom: 30px;
        border: 2px solid lighten(@blue, 50%);
        font-family: @regular;
        font-size: 21px;
        &:focus{
            border: 2px solid @blue;
            outline: none;
        }
    }
    textarea{
        min-height: 233px;
    }
    button{
        background-color: @blue;
        color: @white;
        outline: none;
        cursor: pointer;
        width: 50%;
        font-family: @regular;
        transition: 0.5s all;
        margin: 0 auto;
        border: 0px solid transparent !important;
        .responsive(@mobile, {
            width: 100%;
        });
        &:focus, &:hover{
            background-color: @blue;
            color: @white;
            transform: scale(1.1);
        }
        &:active{
            transform: scale(0.9);
            background-color: darken(@red, 20%);
        }
    }
}

/////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////// CASE STUDY PAGE JOURNAL
/////////////////////////////////////////////////////////////////////////////////////////////
body.project-template{
//    *{border: 1px solid red; box-sizing: border-box}
    p{
        .responsiveMax(@mobile, {
            width: 90%;
            margin: auto;
        });
    }
    h2{
        font-size: 4.8em;
        .responsiveMax(@mobile, {
            padding: @gutter;
            box-sizing: border-box;
        });
    }
    
    
    ///////////////////////////////////////////// HERO
    .hero{
        .blue-container;
        color: @white;
//        height: 847px;
        #case-study-hero{
            position: absolute;
            top: -3em;
            left: -3.65em;
            max-width: 1023px;
            width: 100%;
            transition: 0.5s all;
            .responsiveMax(1338px, {
                min-width: 943px;
                left: -65%;
                top: -10em;
            });
            .responsiveMax(1154px, {
                width: 100% !important;
                min-width: auto !important;
                left: -50px;
                padding: 6.15em 0;
                position: relative;
                top: auto;
            });
            .responsiveMax(910px, {
                width: 100% !important;
                padding: 0px;
                top: -3.8em !important;
                left: -29%;
            });
        }
        div{
            height: inherit;
        }
        .one-half {
            .responsiveMax(910px, {
                width: 100%;
                padding: 0em !important;
            });
            h2, .skills{
                color: @white;
                margin: 0px !important;
                max-width: 767px;
            }
            p{
                margin-top: 5.3em;
                max-width: 767px;
            }
            .title{
                position: relative;
                &:before{
                    content: '';
                    position: absolute;
                    width: 13px;
                    background-color: #f85452;
                    box-sizing: border-box;
                    height: 8.79em;
                    bottom: 0.7em;
                    left: -35px;
                }
                .responsiveMax(910px, {
                    margin-left: 36px !important;
                });
            }
            &:nth-child(2){
                padding: 4.85em 0;
                .responsiveMax(1006px, {
                    padding: 3.15em 0 !important;
                });
                .responsiveMax(910px, {
                    padding: @gutter !important;
                });
            }
        }
    }
    
    
    ///////////////////////////////////////////// STRUCTURE
    #wrapper{
        margin-top: 19em;
        .highlight{
            text-align: center;
            margin-bottom: 0.5em;
        }
        section{
            margin-bottom: 13em;
            width: 100%;
            position: relative;
        }
    }
    .media-wrapper{
        position: relative;
        max-width: 1148px;
        width: 100%;
        margin: 0 auto;
        .responsiveMax(@mobile, {
            width: 90%;
            margin: 0 auto;
        });
    }
    .inner-wrapper{
        max-width: 699px;
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
    
    
    ///////////////////////////////////////////// UI SHOWCASE
    .ui-showcase{
        .one-half{
            &:nth-child(1){
                .responsiveMax(@mobile, {
                    min-height: 590px;
                });
            }
        }
        img{
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            margin: 2em auto 0;
            animation-name: fadeLoop;
            -webkit-animation-name: fadeLoop;
            animation-duration: 9s;
            -webkit-animation-duration: 9s;
            animation-iteration-count: infinite;
            width: 406px;
            .responsiveMax(@mobile, {
                margin: 5em auto;
                height: 100%;
                width: auto;
            });
            &:nth-child(1){
                position: absolute;
                z-index: 1;
                opacity: 0;
            }
            &:nth-child(2){
                position: absolute;
                z-index: 2;
                animation-delay: 3s;
                opacity: 0;
            }
            &:nth-child(3){
                position: absolute;
                z-index: 3;
                animation-delay: 6s;
                opacity: 0;
            }
        }
        blockquote{
            margin: 5.5em 0;
            .responsiveMax(@mobile, {
                margin: 2em 0;
            });
        }
    }
    .highlight{
        .responsiveMax(@mobile, {
            font-size: 4.2em;
            text-align: left !important;
        });
    }
    
    
    ///////////////////////////////////////////// MOBILE FIRST
    #mobile-first{
        min-height: 1290px;
        overflow: hidden;
        h2{
            position: relative;
            z-index: 2;
            padding: 0 @gutter;
            box-sizing: border-box;
        }
        img{
            transition: 0.5s all;
        }
        img#tire{
            position: absolute;
            top: 7.5em;
            right: 0;
            z-index: 1;
            .responsiveMax(1258px, {
                right: -24%;
            });
            .responsiveMax(1036px, {
                transform: rotate(-30deg); 
                right: -34%;
            });
        }
        img#product-page{
            position: absolute;
            top: 36em;
            left: -6.2em;
            z-index: 1;
            .responsiveMax(1036px, {
                transform: rotate(15deg);
                left: -9%;
            });
        }
        .responsiveMax(1036px, {
            min-height: 73em;
        });
        .responsiveMax(@mobile, {
            min-height: 93em;
        });
        .responsiveMax(520px, {
            min-height: 83em;
        });
        .responsiveMax(380px, {
            min-height: 68em;
        });
    }
    
    
    ///////////////////////////////////////////// MOBILE FIRST
    #navigation-showcase{
        *zoom: 1;
        &:before,
        &:after {
            content: " "; /* 1 */
            display: table; /* 2 */
        }

        &:after {
            clear: both;
        }
        .one-half{
            padding: 0px;
            &:nth-child(1){
                margin-left: 50%;
                text-align: right;
                .responsiveMax(@mobile, {
                    margin-left: auto;
                });
            }
            &:nth-child(2){
                margin-left: -100%;
                padding-left: 5%;
                position: -webkit-sticky;
                position: sticky;
                top: 0;
                h2{
                    margin: 4em 0em 2em;
                }
                .responsiveMax(@mobile, {
                    margin-left: auto;
                    h2{
                        text-align: center;
                        margin: 0px;
                        padding: 0px;
                    }
                });
            }
        }
    }
    
    
    
    
    
    
    
    .solution{
        .circle-container{
            margin: 0 auto;
            .circle{
                display: inline-block;
                width: 25%;
                height: 0;
                padding: 12.5% 0;
                border-radius: 50%;
                background-color: @red;
                color: @white;
                text-align: center;
                float: left;
                margin-right: 22px;
                .responsiveMax(@mobile, {
                    
                    display: block;
                });
            }
        }
    }
    .main-content{
        section{
            margin-bottom: 10em;
            position: relative;
            &:before{
                font-size: 4em;
                font-family: @bold;
                position: absolute;
//                top: 7.39em;
                left: 0px;
                z-index: 999999999;
            }
            &:nth-child(1){ &:before{ content: '1'; }}
            &:nth-child(2){ &:before{ content: '2'; }}
            &:nth-child(3){ &:before{ content: '3'; }}
            &:nth-child(4){ &:before{ content: '4'; }}
            &:nth-child(5){ &:before{ content: '5'; }}
            &:nth-child(6){ &:before{ content: '6'; }}
        }
        h3{
            font-size: 1.25em;
        }
        h2, h3, p{
            width: 66%;
            margin-left: 250px;
            .responsiveMax(@mobile, {
                width: 100%;
                margin-left: 0px;
                padding: @gutter;
                box-sizing: border-box;
            });
        }
    }
    .animated{
        img{
            width: 33%;
            
        }
    }
}
.header
{
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
 
    -webkit-transition-timing-function: cubic-bezier( 0.215, 0.610, 0.355, 1.000 );
    transition-timing-function: cubic-bezier( 0.215, 0.610, 0.355, 1.000 );
 
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    
    height: @headerHeightMobile;
}
 
.header--hidden
{
    -webkit-transform: translateY( -100% );
    -ms-transform: translateY( -100% );
    transform: translateY( -100% );
}
/////////////////////////////////////////////////////////////////////////////// Responsive Slider

.slider-container{
    .responsiveMax(@mobile, {
        margin-left: 0px; 
    });
}


/////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////// IFRAME ZOOM
/////////////////////////////////////////////////////////////////////////////////////////////

body.iframe-template{
    img, p{
        width: 50%;
        margin: @gutter auto;
        display: block;
        .responsiveMax(@mobile, {
            width: 90%;
        });
    }
}












@media all {
	.featherlight {
		display: none;

		/* dimensions: spanning the background from edge to edge */
		position:fixed;
		top: 0; right: 0; bottom: 0; left: 0;
		z-index: 9999999999;

		/* position: centering content */
		text-align: center;

		/* insures that the ::before pseudo element doesn't force wrap with fixed width content; */
		white-space: nowrap;

		/* styling */
		cursor: pointer;
		background: #333;
		/* IE8 "hack" for nested featherlights */
		background: rgba(0, 0, 0, 0);
	}

	/* support for nested featherlights. Does not work in IE8 (use JS to fix) */
	.featherlight:last-of-type {
		background: rgba(0, 0, 0, 0.8);
	}

	.featherlight:before {
		/* position: trick to center content vertically */
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		margin-right: -0.25em;
	}

	.featherlight .featherlight-content {
		/* make content container for positioned elements (close button) */
		position: relative;

		/* position: centering vertical and horizontal */
		text-align: left;
		vertical-align: middle;
		display: inline-block;

		/* dimensions: cut off images */
		overflow: auto;
		padding: 25px 25px 0;
		border-bottom: 25px solid transparent;

		/* dimensions: handling small or empty content */
		min-width:  30%;

		/* dimensions: handling large content */
		margin-left: 5%;
		margin-right: 5%;
		max-height: 95%;
        

		/* styling */
		background: #fff;
		cursor: auto;

		/* reset white-space wrapping */
		white-space: normal;
	}
	/* contains the content */
	.featherlight .featherlight-inner {
		/* make sure its visible */
		display: block;
	}

	.featherlight .featherlight-close-icon {
		/* position: centering vertical and horizontal */
		position: absolute;
		z-index: 9999;
		top: 0;
		right: 0;
        
//        .responsiveMax(@mobile, {
//            bottom: 0px;
//            left: 0px;
//            top: auto !important;
//            right: auto !important;
//        });

		/* dimensions: 25px x 25px */
		line-height: 25px;
		width: 25px;

		/* styling */
		cursor: pointer;
		text-align: center;
		font: Arial, sans-serif;
		background: #fff; /* Set the background in case it overlaps the content */
		background: rgba(255, 255, 255, 0.3);
		color: #000;
	}


	.featherlight .featherlight-image {
		/* styling */
		width: 100%;
	}

	.featherlight-iframe .featherlight-content {
		/* removed the border for image croping since iframe is edge to edge */
		border-bottom: 0;
		padding: 0;
	}

	.featherlight iframe {
		/* position */
		position: absolute;

		/* dimensions */
		width: 100%;
		height: 100%;

		/* styling */
		border: none;
	}

	.featherlight-iframe .featherlight-content{
		/* dimensions: 1140px prevents iframe from spanning the full width of the browser */
		width: 90%;
		max-width: 1140px;

		/* spacing */
		margin: 0;
		padding: 0;
	}

	.featherlight-iframe .featherlight-inner{
		/* positioning */
		display: block;
		float: left;
		position: relative;

		/* dimensions */
		width: 100%;
	}
	.featherlight .featherlight-inner:after{
		/* dimensions */
		content: "";
		float: left;
		width: 100%;
		padding-top: 57%;
		display: block;
		position: relative;
	}
}

    .featherlight-iframe .featherlight-content{
        height: 90%;
    }
/* handling phones and small screens */
@media only screen and (max-width: 1024px) {
	.featherlight .featherlight-content {
		/* dimensions: maximize lightbox with for small screens */
		margin-left: 10px;
		margin-right: 10px;
		max-height: 98%;

		padding: 10px 10px 0;
		border-bottom: 10px solid transparent;
	}
	.featherlight-iframe .featherlight-content{
		margin: 0;
	}
}

















/////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////// ANIMATION
/////////////////////////////////////////////////////////////////////////////////////////////

.fadeArrow {
    animation-name: fadeArrow;
    -webkit-animation-name: fadeArrow;
    animation-duration: 3s;
    -webkit-animation-duration: 3s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}
@keyframes fadeArrow {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@-webkit-keyframes fadeArrow {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.riseFadeUp {
    animation-name: riseFadeUp;
    -webkit-animation-name: riseFadeUp;
    animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    animation-timing-function: ease-out;
}
@keyframes riseFadeUp {
    0% {
        opacity: 0;
        transform: translateY(20%);
        
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@-webkit-keyframes riseFadeUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20%);
        
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
.fadeIn {
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    animation-timing-function: ease-out;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.slideRight{
	animation-name: slideRight;
	-webkit-animation-name: slideRight;	

	animation-duration: 0.75s;	
	-webkit-animation-duration: 0.75s;

	animation-timing-function: ease-out;	
	-webkit-animation-timing-function: ease-out;		

	visibility: visible !important;
}

@keyframes slideRight {
	0% {
		transform: translateX(250%);
        opacity: 0;
	}
	75% {
		transform: translateX(-10%);
	}
	100% {
		transform: translateX(0%);
        opacity: 1;
	}
}

@-webkit-keyframes slideRight {
	0% {
		-webkit-transform: translateX(250%);
        opacity: 0;
	}
	75% {
		-webkit-transform: translateX(-10%);
	}
	100% {
		-webkit-transform: translateX(0%);
        opacity: 1;
	}
}
.miniPulse{
	animation-name: miniPulse;
	-webkit-animation-name: miniPulse;	

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes miniPulse {
	0% {
		transform: scale(0.95);
	}
	50% {
		transform: scale(1);
	}	
	100% {
		transform: scale(0.95);
	}			
}

@-webkit-keyframes miniPulse {
	0% {
		-webkit-transform: scale(0.95);
	}
	50% {
		-webkit-transform: scale(1);
	}	
	100% {
		-webkit-transform: scale(0.95);
	}			
}
    
    
.fadeLoop {
    animation-name: fadeLoop;
    -webkit-animation-name: fadeLoop;
    animation-timing-function: ease-out;
}
@keyframes fadeLoop {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@-webkit-keyframes fadeLoop {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}