@import "assets/css/scaffolding.less";
@import "assets/css/mixins.less";
@import "assets/css/slider.less";
@import "assets/css/featherlight.min.css";

/////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////// TYPOGRAPHY
/////////////////////////////////////////////////////////////////////////////////////////////
body, html{
    padding: 0px;
    margin: 0px;
    background-color: @offwhite;
//    .responsiveMax(@mobile, {
//        background-color: @red;
//    });
    img{
        max-width: 100%;
    }
}
body{
    font-size: 21pt; 
    font-family: @regular;
    color: @blue;
    .responsiveMax(@mobile, {
        font-size: 13pt;
    });
}

@font-face {
    font-family: 'IBM Plex Bold';
    src: url('assets/fonts/ibmplexmono-bold-webfont.woff2') format('woff2'),
         url('assets/fonts/ibmplexmono-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@bold: 'IBM Plex Bold';

@font-face {
    font-family: 'IBM Plex';
    src: url('assets/fonts/ibmplexmono-regular-webfont.woff2') format('woff2'),
         url('assets/fonts/ibmplexmono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@regular: 'IBM Plex';
 
h1, h2, h3, h4, h5, h6{
    font-family: @bold;
}
h1{
    font-size: 34pt;
}
h2{
    font-size: 37pt;
}
h3{
    font-size: 13pt;
}
p{
    line-height: 2em;
    widows: 3;
    orphans: 3;
}
a{
    color: @blue;
    text-decoration: underline;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip: ink;
    transition: 0.5s all;
    &:hover{
        color: @red;
    }
}

/////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////// COLOR
/////////////////////////////////////////////////////////////////////////////////////////////
@red: #F85452;
@blue: #292F83;
@white: darken(#FFFFFF, 2%);
@offwhite: darken(#FFFFFF, 5%);
@black: #111111;
@gutter: 22px;

.selection{
    background-color: lighten(@blue, 50%);
    color: @white;
}
::selection {
    .selection;
}
::-moz-selection {
    .selection;
}

/////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////// MODULES
/////////////////////////////////////////////////////////////////////////////////////////////
.clearfix{
    &:after{
        content: "";
        clear: both;
        display: table;
    }
}


@headerHeight: 98px;
@headerHeightMobile: 94px;

//@container: 940px;
@container: @nav;
@mobile: 768px;
@nav: 1399px;

// Mixin 
.responsive(@maxWidth; @rules) {
    @media only screen and (max-width: @maxWidth) {
        @rules();
    }
}
.flex-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: start;
    align-items: stretch;
    
    .responsiveMax(@mobile,{
        display: block;
    });
}

.flex-item_one-third {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    max-width: 33%;
    .responsiveMax(@mobile,{
        max-width: 100%;
        -webkit-flex: auto;
        -ms-flex: auto;
        flex: auto;
    });
}

.flex-item_two-third {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 3 1 auto;
    -ms-flex: 3 1 auto;
    flex: 3 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    max-width: 66%;
    .responsiveMax(@mobile,{
        max-width: 100%;
        -webkit-flex: auto;
        -ms-flex: auto;
        flex: auto;
    });
}
/////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////// STRUCTURE
/////////////////////////////////////////////////////////////////////////////////////////////
//.wrapper-padding{
//    padding-top: @headerHeight;
//    .responsiveMax(@mobile, {
//        padding-top: 0px;
//        padding-bottom: @headerHeightMobile;
//    });
//}
#wrapper{
    padding-bottom: @headerHeight;
}
.container{
    width: @container;
    padding: @gutter;
    margin: 0 auto;
    box-sizing: border-box;
    .responsiveMax(@container,{
        width: 100%;
        padding: 0px;
    });
}

#hero{
    margin: 0px;
    padding: 0px;
    img{
        width: 100%;
    }
}


/////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////// FOOTER
/////////////////////////////////////////////////////////////////////////////////////////////
footer{
    font-size: 0.5em;
    text-align: center;
    padding: @gutter*1.6;
    opacity: 0.5;
}


/////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////// HEADER
/////////////////////////////////////////////////////////////////////////////////////////////
header{
    position: fixed;
    bottom: 0px;
    padding: @gutter 0px 15px;
    z-index: 999999999999999999;
    transition: 2s all;
    background-color: @white;
    width: 100%;
    border-top: 2px solid @red;
    .responsiveMax(@container, {
        padding: @gutter @gutter @gutter/2 @gutter;
        box-sizing: border-box;
    });
    .responsive(@mobile, {
        top: auto !important;
        bottom: 0px !important;
        position: fixed;
        width: 100%;
    });
    nav{
        width: @nav;
        margin: 0 auto;
        display: table;
        .responsiveMax(@container, {
            width: 100%;
        });
        .logo{
            height: 61px;
            width: 95px;
            display: table-cell;
            vertical-align: middle;
        }
        #logo{
//            position: fixed;
//            top: 1em;
//            left: 1em;
        }
        ul{
            text-align: center;
            display: table-cell;
            vertical-align: middle;
            li{
                display: inline-block;
                a{
                    text-decoration: none;
                    font-family: @bold;
                    color: @red;
                    transition: 0.5s all;
                    padding: @gutter;
                    &:hover{
                        color: @blue;
                        border-color: @blue;
                        border-bottom: 0.5em;
                    }
                    .responsiveMax(1080px, {
                        font-size: 0.75em;
                    });
                    .responsiveMax(920px, {
                        font-size: 0.65em;
                    });
                    .responsiveMax(@mobile, {
                        padding: @gutter 0px 0px @gutter;
                        font-size: 1em;
                    });
                }
                .responsive(850px, {
                    &:nth-child(1),
                    &:nth-child(2),
                    &:nth-child(3){
                        display: none;
                    }
                });
            }
            &:after{
                content: "";
                clear: both;
                display: table;
            }
        }
    }
}
.sticky{
    position: fixed;
    bottom: 0px;
    width: 100%;
    transition: 2s all;
}

/////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////// HOME
/////////////////////////////////////////////////////////////////////////////////////////////



////////////////////////////////////////////////////////////////////////////////////// STRUCTURE
body.index{
    #form-function{
        text-align:center;
        position: relative;
        overflow: hidden;
//        background-image: url(images/hepburn.png);
//        background-repeat: no-repeat;
//        background-position: 180px 0px;
//        background-repeat: no-repeat;
//        background-size: contain;
        img{
            display: block;
            margin: 0 auto;
            max-width: 1082px;
            width: 90%;
            z-index: 2;
            position: relative;
            .riseFadeUp;
            .responsiveMax(@mobile, {
                margin-top: -@headerHeightMobile*2;
            });
        }
        .responsiveMax(@mobile, {
            display: table-cell;
            vertical-align:middle; 
            height: 100vh;
        });
        .see-work{
            font-size: 1.5em;
            font-family: @bold;
            padding-top: 2em;
            position: relative;
            width: 100%;
            .slideRight;
            .seeworkcontainer{
                width:100%;
            }
            a{
                position: absolute;
                text-decoration: none;
                padding-top: @gutter;
                padding-left: 51px;
                left: -@gutter;
                width: 100%;
                text-align: left;
                box-sizing: border-box;
            }
            #see{
                color: @white;
                border-bottom: 4px solid @white;
                z-index: 25;
                position: relative;
            }
            #work{
                color: @red;
                border-bottom: 4px solid @red;
                z-index: 3;
                position: relative;
                background-color: @offwhite;
                padding-right: 10px;
                box-sizing: border-box;
            }
            .pointers{
                width: 90%;
                position: absolute;
                top: 20px;
                right: 0px;
                text-align: right;
                box-sizing: border-box;
                z-index: 2;
                .responsiveMin(426px, {
                    position: relative;
                    right: auto;
                    top: -3px;
                });
            }
            .pointer{
                border: solid @red;
                border-width: 0 3px 3px 0;
                display: inline-block;
                padding: 3px;
                text-align: right;
                transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
                &.one{ animation-delay: 0.25s !important; }
                &.two{ animation-delay: 0.5s !important; }
                &.three{ animation-delay: 0.75s !important; }
                &.four{ animation-delay: 1s !important; }
                &.five{ animation-delay: 1.25s !important; }
                &.six{ animation-delay: 1.5s !important; }
                &.seven{ animation-delay: 1.75s !important; }
                &.eight{ animation-delay: 2s !important; }
                &.nine{ animation-delay: 2.25s !important; }
                &.ten{ animation-delay: 2.5s !important; }
                .fadeArrow;
            }
            .circle{
                position: absolute;
                top: 0px;
                left: 0px;
                background-color: @red;
                height: 100px;
                width: 100px;
                z-index: 4;
                border-radius: 50%;
            }
        }
        .white-box{
            background-color: @white;
            min-width: 500px;
            min-height: 500px;
            position: absolute;
            top: -400px;
            z-index: 0;
            transform: rotate(45deg);
            left: -250px;
            border: 1px solid lighten(@red, 25%);
            .fadeIn;
        }
        .blue-box{
            background-color: @blue;
            min-width: 800px;
            min-height: 800px;
            position: absolute;
            bottom: -500px;
            z-index: 0;
            transform: rotate(45deg);
            right: -425px;
            .fadeIn;
        }
    }
    ul{
        list-style: none;
        padding: 0px;
        margin: 0px;
    }
    section{
        margin: 230px 0px;
        padding-top: @gutter;
        &:first-child{
            .responsiveMax(@mobile, {
                background-color: @blue;
                margin-top: -2px;
            });
        }
        .responsiveMax(@mobile, {
            padding: @gutter;
            box-sizing: border-box;
            margin: 0px;
//            &:nth-child(odd){
//                background-color: @blue;
//            }
//            &:nth-child(even){
//                background-color: @red;
//            }
        });
        ul{
            width: 100%;
            li{
                margin-bottom: @gutter;
                box-sizing: border-box;
                border-left: 5px solid @offwhite;
                .responsiveMax(@mobile, {
                    margin-bottom: 0px;
                    border-left: 0px solid transparent;
                });
                &.header{
                    h2{
                        word-break: break-all;
                        font-size: 4em;
                        color: @red;
                        box-sizing: border-box;
                        padding: 0.33em 0.5em;
                        margin: 0px;
                        .responsiveMax(@mobile, {
//                            color: @white;
                            font-size: 3em;
//                            border-bottom: 5px solid @white;
                            padding: 0.33em 0px;
                        });
                    }
                }
                img{
                    transition: 0.5s all;
                    background-color: lighten(@blue, 50%);
                    display: block;
                    min-height: 2em;
                    width: 100%;
                }
                &.full{
                    width: 100%;
                }
            }
            &:after{
                content: "";
                clear: both;
                display: table;
            }
        }
    }
}
////////////////////////////////////////////////////////////////////////////////////// CASE STUDY
.case-study{
    box-sizing: border-box;
    background-color: lighten(@blue, 50%);
    background-size: 100%;
    background-position: 50% 50% !important;
    position: relative;
    transition: 1s all ease;
    &:hover{
        background-size: 110%;
    }
    .responsiveMax(@container, {
        background-size: cover !important;
        &:hover{
            background-size: cover !important;
        }
    });
    a{
        color: @white;
        text-decoration: none;
        padding: 2em 2em 1em;
        display: block;
    }
    h2{
        font-size: 2em;
        text-transform: uppercase;
        width: 100%;
        position: relative;
        &:before{
            content: '';
            position: absolute;
            width: 8px;
            height: 0.70em;
            background-color: @white;
            opacity: 0.5;
            bottom: 16px;
            left: -1em;
        }
        &:after{
            display: none;
        }
    }
    .small{
        font-size: 0.5em;
    }
    &.supreme-web{
        background-image: url(images/supreme-hero.jpg);
        color: @white;
        float: right !important;
        .clearfix;
    }
    mark{
        background-color: transparent;
        color: @red;
        position: absolute;
        top: 0;
        right: 10px;
    }
}





////////////////////////////////////////////////////////////////////////////////////// ABOUT
#about{
    max-width: @container/1.6;
    width: 100%;
    margin: 0 auto;
    h2{
        font-family: @regular;
        color: rgba(41, 47, 131, 0.75);
        font-weight: 100;
        &:after{
            display: none;
        }
    }
}
////////////////////////////////////////////////////////////////////////////////////// CONTACT
#contact{
    max-width: @container/1.6/1.6;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1em;
    .responsiveMax(@container, {
        width: 100%;
    });
    h2{
        .responsiveMax(420px, {
            word-break: break-all;
        });
    }
    input, textarea, button{
        width: 100%;
        display: block;
        min-height: 55px;
        padding: @gutter;
        box-sizing: border-box;
        margin-bottom: 30px;
        border: 2px solid lighten(@blue, 50%);
        font-family: @regular;
        font-size: 21px;
        &:focus{
            border: 2px solid @blue;
            outline: none;
        }
    }
    textarea{
        min-height: 233px;
    }
    button{
        background-color: @red;
        color: @white;
        outline: none;
        cursor: pointer;
        width: 50%;
        font-family: @regular;
        transition: 0.5s all;
        margin: 0 auto;
        border: 0px solid transparent !important;
        .responsive(@mobile, {
            width: 100%;
        });
        &:focus, &:hover{
            background-color: @red;
            color: @white;
            transform: scale(1.1);
        }
        &:active{
            transform: scale(0.9);
            background-color: darken(@red, 20%);
        }
    }
}

/////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////// CASE STUDY PAGE
/////////////////////////////////////////////////////////////////////////////////////////////
body.project-template{
    .hero{
        background-color: fade(@blue, 20%);
        .one-half{
            padding: @gutter;
            .responsiveMax(@mobile, {
                width: 100%;
            });
        }
    }
    .solution{
        .circle-container{
            display: table;
            margin: 0 auto;
            .circle{
                border-radius: 50%;
                background-color: @red;
                color: @white;
                height: 300px;
                width: 300px;
                display: table-cell;
                vertical-align: middle;
                text-align: center;
                .responsiveMax(@mobile, {
                    
                    display: block;
                });
            }
        }
    }
    .main-content{
        section{
            margin-bottom: 10em;
            position: relative;
            &:before{
                font-size: 4em;
                font-family: @bold;
                position: absolute;
                top: 7.39em;
                left: 0px;
                z-index: 999999999;
            }
            &:nth-child(1){ &:before{ content: '1'; }}
            &:nth-child(2){ &:before{ content: '2'; }}
            &:nth-child(3){ &:before{ content: '3'; }}
            &:nth-child(4){ &:before{ content: '4'; }}
            &:nth-child(5){ &:before{ content: '5'; }}
            &:nth-child(6){ &:before{ content: '6'; }}
        }
        h3{
            font-size: 1.25em;
        }
        h3, p{
            width: 66%;
            margin-left: 250px;
            .responsiveMax(@mobile, {
                width: 100%;
                margin-left: 0px;
                padding: @gutter;
                box-sizing: border-box;
            });
        }
    }
}
/////////////////////////////////////////////////////////////////////////////// Responsive Slider

.slider-container{
    .responsiveMax(@mobile, {
        margin-left: 0px; 
    });
}


/////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////// IFRAME ZOOM
/////////////////////////////////////////////////////////////////////////////////////////////

body.iframe-template{
    img{
        width: 100%;
        margin: 0 auto;
    }
}












@media all {
	.featherlight {
		display: none;

		/* dimensions: spanning the background from edge to edge */
		position:fixed;
		top: 0; right: 0; bottom: 0; left: 0;
		z-index: 9999999999;

		/* position: centering content */
		text-align: center;

		/* insures that the ::before pseudo element doesn't force wrap with fixed width content; */
		white-space: nowrap;

		/* styling */
		cursor: pointer;
		background: #333;
		/* IE8 "hack" for nested featherlights */
		background: rgba(0, 0, 0, 0);
	}

	/* support for nested featherlights. Does not work in IE8 (use JS to fix) */
	.featherlight:last-of-type {
		background: rgba(0, 0, 0, 0.8);
	}

	.featherlight:before {
		/* position: trick to center content vertically */
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		margin-right: -0.25em;
	}

	.featherlight .featherlight-content {
		/* make content container for positioned elements (close button) */
		position: relative;

		/* position: centering vertical and horizontal */
		text-align: left;
		vertical-align: middle;
		display: inline-block;

		/* dimensions: cut off images */
		overflow: auto;
		padding: 25px 25px 0;
		border-bottom: 25px solid transparent;

		/* dimensions: handling small or empty content */
		min-width:  30%;

		/* dimensions: handling large content */
		margin-left: 5%;
		margin-right: 5%;
		max-height: 95%;
        

		/* styling */
		background: #fff;
		cursor: auto;

		/* reset white-space wrapping */
		white-space: normal;
	}
	/* contains the content */
	.featherlight .featherlight-inner {
		/* make sure its visible */
		display: block;
	}

	.featherlight .featherlight-close-icon {
		/* position: centering vertical and horizontal */
		position: absolute;
		z-index: 9999;
		top: 0;
		right: 0;
        
//        .responsiveMax(@mobile, {
//            bottom: 0px;
//            left: 0px;
//            top: auto !important;
//            right: auto !important;
//        });

		/* dimensions: 25px x 25px */
		line-height: 25px;
		width: 25px;

		/* styling */
		cursor: pointer;
		text-align: center;
		font: Arial, sans-serif;
		background: #fff; /* Set the background in case it overlaps the content */
		background: rgba(255, 255, 255, 0.3);
		color: #000;
	}


	.featherlight .featherlight-image {
		/* styling */
		width: 100%;
	}

	.featherlight-iframe .featherlight-content {
		/* removed the border for image croping since iframe is edge to edge */
		border-bottom: 0;
		padding: 0;
	}

	.featherlight iframe {
		/* position */
		position: absolute;

		/* dimensions */
		width: 100%;
		height: 100%;

		/* styling */
		border: none;
	}

	.featherlight-iframe .featherlight-content{
		/* dimensions: 1140px prevents iframe from spanning the full width of the browser */
		width: 90%;
		max-width: 1140px;

		/* spacing */
		margin: 0;
		padding: 0;
	}

	.featherlight-iframe .featherlight-inner{
		/* positioning */
		display: block;
		float: left;
		position: relative;

		/* dimensions */
		width: 100%;
	}
	.featherlight .featherlight-inner:after{
		/* dimensions */
		content: "";
		float: left;
		width: 100%;
		padding-top: 57%;
		display: block;
		position: relative;
	}
}

    .featherlight-iframe .featherlight-content{
        height: 90%;
    }
/* handling phones and small screens */
@media only screen and (max-width: 1024px) {
	.featherlight .featherlight-content {
		/* dimensions: maximize lightbox with for small screens */
		margin-left: 10px;
		margin-right: 10px;
		max-height: 98%;

		padding: 10px 10px 0;
		border-bottom: 10px solid transparent;
	}
	.featherlight-iframe .featherlight-content{
		margin: 0;
	}
}

















/////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////// ANIMATION
/////////////////////////////////////////////////////////////////////////////////////////////

.fadeArrow {
    animation-name: fadeArrow;
    -webkit-animation-name: fadeArrow;
    animation-duration: 3s;
    -webkit-animation-duration: 3s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}
@keyframes fadeArrow {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@-webkit-keyframes fadeArrow {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.riseFadeUp {
    animation-name: riseFadeUp;
    -webkit-animation-name: riseFadeUp;
    animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    animation-timing-function: ease-out;
}
@keyframes riseFadeUp {
    0% {
        opacity: 0;
        transform: translateY(20%);
        
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@-webkit-keyframes riseFadeUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20%);
        
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
.fadeIn {
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    animation-timing-function: ease-out;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.slideRight{
	animation-name: slideRight;
	-webkit-animation-name: slideRight;	

	animation-duration: 0.75s;	
	-webkit-animation-duration: 0.75s;

	animation-timing-function: ease-out;	
	-webkit-animation-timing-function: ease-out;		

	visibility: visible !important;
}

@keyframes slideRight {
	0% {
		transform: translateX(250%);
        opacity: 0;
	}
	75% {
		transform: translateX(-10%);
	}
	100% {
		transform: translateX(0%);
        opacity: 1;
	}
}

@-webkit-keyframes slideRight {
	0% {
		-webkit-transform: translateX(250%);
        opacity: 0;
	}
	75% {
		-webkit-transform: translateX(-10%);
	}
	100% {
		-webkit-transform: translateX(0%);
        opacity: 1;
	}
}
.miniPulse{
	animation-name: miniPulse;
	-webkit-animation-name: miniPulse;	

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes miniPulse {
	0% {
		transform: scale(0.95);
	}
	50% {
		transform: scale(1);
	}	
	100% {
		transform: scale(0.95);
	}			
}

@-webkit-keyframes miniPulse {
	0% {
		-webkit-transform: scale(0.95);
	}
	50% {
		-webkit-transform: scale(1);
	}	
	100% {
		-webkit-transform: scale(0.95);
	}			
}